@import 'src/assets/design/colors.scss';

.base-textarea {
  color: $lightBlack;
  background-color: $tiara;
  border: 1px solid $atomWhite;
  font-size: 14px;
  line-height: 21px;
  padding: 7.5px 10px;
  border-radius: 6px;
  transition: 0.2s all ease-in-out;
  width: 100%;
  height: 84px;
  resize: none;

  &:active,
  &:focus {
    border: 1px solid $lightBlue;
    background: $white;
  }

  &::placeholder {
    color: $lightGray;
  }
}