@import '/src/assets/design/design.scss';

@font-face {
    font-family: 'Helvetica Neue';
    src:
        url('/src/fonts/HelveticaNeueCyr-UltraLight.woff2') format('woff2'),
        url('/src/fonts/HelveticaNeueCyr-UltraLight.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue';
    src:
        url('/src/fonts/HelveticaNeueCyr-Thin.woff2') format('woff2'),
        url('/src/fonts/HelveticaNeueCyr-Thin.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue';
    src:
        url('/src/fonts/HelveticaNeueCyr-Light.woff2') format('woff2'),
        url('/src/fonts/HelveticaNeueCyr-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue';
    src:
        url('/src/fonts/HelveticaNeueCyr-Roman.woff2') format('woff2'),
        url('/src/fonts/HelveticaNeueCyr-Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue';
    src:
        url('/src/fonts/HelveticaNeueCyr-Medium.woff2') format('woff2'),
        url('/src/fonts/HelveticaNeueCyr-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: 'Helvetica Neue';
    src:
        url('/src/fonts/HelveticaNeueCyr-Black.woff2') format('woff2'),
        url('/src/fonts/HelveticaNeueCyr-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

body {
    font-family: "Helvetica Neue", Arial, sans-serif;
}