@import 'src/assets/design/colors.scss';
@import 'src/assets/design/media.scss';

.base-button {
  border: 0;
  color: $white;
  background-color: $blue;
  font-size: 14px;
  line-height: 21px;
  padding: 9px 18px;
  border-radius: 6px;
  transition: 0.2s all ease-in-out;
  width: 100%;
  cursor: pointer;

  &:active {
    background: $lightAquaBlue;
  }

  &:disabled {
    pointer-events: none;
    background-color: $lightAquaBlue;
    opacity: 0.25;
    color: white;
  }

  @include bigTabletAndLess {
    width: initial;
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
  }
}