$black: #000;
$lightBlack: #191919;
$white: #fff;
$lightOrange: rgba(242, 107, 81, 0.12);
$tangerine: #FF7733;
$blue: #2B96F1;
$lightAquaBlue: #0F85E9;
$employmentBlue: #4CA6FE;
$lightBlue: #198CFF;
$grayish: #828282;
$atomWhite: #E8E8E8;
$tiara: #FAFAFA;
$heather: #CCCCCC;
$lightGray: #AAAAAA;
$acidGreen: #5CB85C;